* text=auto

*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.txt text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
.gitkeep text eol=lf
LICENSE text eol=lf

*.xlsx binary
*.db binary
*.sqlite binary
*.sqlite3 binary
