include CHANGELOG.md
include LICENSE
include README.md
include requirements.txt
include requirements-server.txt
include Dockerfile
include compose.yaml
include .dockerignore
include .env.example
recursive-include docs *.md *.json
recursive-include deploy Caddyfile *.yaml *.example
recursive-include integrations *.py *.json *.yaml *.txt *.md
